@media screen and (max-width: 1200px) {
    #profile {
      height: 83vh;
      margin-bottom: 6rem;
    }
    .about-containers {
      flex-wrap: wrap;
    }
    #contact,
    #projects {
      height: fit-content;
    }
  }
  
  @media screen and (max-width: 900px) {
    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
        gap: 16rem;
        display: flex;
        margin-left: 5rem;
    }
    #experience,
    .experience-details-container {
      margin-top: 2rem;
    }
    #profile,
    .section-container {
      display: block;
    }
    .arrow {
      display: none;
    }
    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
    img[src="gg.jpg"] {
        display: block;
        margin-left: auto;
        margin-right: 150px;
    }
    
    .section__pic-container1 img{
      margin-top: -6rem;
      margin-left: -15rem;
      width: 500px;
      height: 500px;
      
    }

    .section__pic-container{
        margin-left: 6rem;
    }
    .about-containers {
      margin-top: 0;
    }
    .section__text{
        margin-left: 3rem;
    }

    .section__text_p1{
        margin-left: 6rem;
    }

    .title{
        margin-left: 6rem;;
    }

    .about-details-container{
        margin-top: 5rem;
        margin-left: 6rem;
    }

    .experience-details-container{
        margin-top: 5rem;
        margin-left: 6rem;
    }
    .contact-info-upper-container{
        margin-left: 4rem;
    }
    .nav-links-container{
        margin-left: 6rem;
    }
    
    footer p{
        margin-left: 6rem;
    }
    

  }
  
  @media screen and (max-width: 650px) {
    #contact,
    footer {
      height: 40vh;
    }
    #profile {
      height: 83vh;
      margin-bottom: 0;
    }
    article {
      font-size: 1rem;
    }
    footer nav {
      height: fit-content;
      margin-bottom: 2rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
      flex-wrap: wrap;
    }
    .contact-info-container {
      margin: 0;
    }
    .contact-info-container p,
    .nav-links li a {
      font-size: 1rem;
    }
    .experience-sub-title {
      font-size: 1.25rem;
    }
    .logo {
      font-size: 1.5rem;
    }
    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
    .section__pic-container {
      width: auto;
      height: 46vw;
      justify-content: center;
    }

    .section__text_p1{
      margin-top: 2rem;
    }
    .section__text__p2 {
      font-size: 1.25rem;
    }
    .section__text_p1-main{
      margin-top: 25rem;
    }
    .section__text_p1-contact{
      margin-top: 10rem;
      margin-left: 10rem;
    }
    .title {
      font-size: 2rem;
      margin-top: 2.5rem;
    }
    .section__text_p1-main{
      margin-top: -3rem;
    }
    .text-container {
      text-align: justify;
    }
  }